* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#container {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px;
}

#header {
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*por si se sale de la caja que lo ponga en la linea de abajo*/
  align-items: center;
  
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.logo {
  flex-grow: 1;
  /*para cuando la pantalla se reduzca cada elemento ocupa una linea*/
  flex-basis: 50%;
  padding: 10px;
  margin-left: 20px;
  color: black;
  text-shadow: 1px 1px 0px #ccc;
  text-transform: uppercase;
}

.logo h1 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}

#menu {
  flex-grow: 1;
  flex-basis: 40%;
  height: 100%;
  padding-right: 20px;
}

#menu>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /*espacio entre los elementos*/
  height: 100%;
  list-style: none;
}

#menu a {
  text-transform: uppercase;
  color: #444;
  padding: 10px;
  transition: all 300ms;
}

#menu a:hover {
  background: #444;
  border-radius: 20px;
  color: white;
}

#content {
  display: flex;
  /*para que el aside y el otro div (principales,esten uno al lado del otro*/
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#projects {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap;*/
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 80%;
}

.project {
  flex-grow: 1;
  flex-basis: 200px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  margin-right: 10px;
}

.project img {
  width: 100%;
}

.project-info {
  padding: 10px;
}

.project-info a {
  font-size: 16px;
  color: black;
  transition: all 300ms;
}

.project-info a:hover {
  color: green;
}

.project-info p {
  font-size: 16px;
  color: gray;
  transition: all 300ms;
}

#aside {
  flex-basis: 15%;
  margin-right: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#aside h2 {
  display: block;/*para que se comporte como un bloque*/
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  color: #444;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
  text-align: center;
}

#aside ul {
  list-style: none;
}

#aside ul li {
  padding-bottom: 20px;
}

#aside a {
  text-align: center;
  display: block;
  background: #eee;
  color: #444;
  padding: 20px;
  transition: all 300ms;
  text-transform: uppercase;
}

#aside a:hover {
  border-radius: 20px;
  background: #444;
  color: #eee;
}